@import '../../../styles/variables.scss';

.slider {
    grid-column: 1 / -1;
    position: relative;
    width: 100%;
    padding: 10px 0;
    height: auto;
    overflow: hidden;

    @media (max-width: $breakpoint-mobile) {
        padding: 40px 0;
    }

    &__container {
        position: relative;
        margin: 0 auto;
    }

    &__track {
        position: relative;
        width: 100%;
        height: 600px;

        @media (max-width: $breakpoint-mobile) {
            height: 450px;
        }
    }

    &__slide {
        position: absolute;
        inset: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: center;

        @media (max-width: $breakpoint-mobile) {
            grid-template-columns: 1fr;
            gap: 10px;
            align-items: start;
        }

        &--active {
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }
    }

    &__image-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;

        @media (max-width: $breakpoint-mobile) {
            height: 250px;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        color: $color-secondary;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: $breakpoint-mobile) {
            padding: 20px 0;
        }
    }

    &__title {
        font-family: $font-secondary;
        font-size: clamp(28px, 4vw, 48px);
        font-weight: 400;
        margin: 0 0 20px;
        letter-spacing: 1px;
        text-align: center;
        height: 60px;
        overflow: hidden;

        @media (max-width: $breakpoint-mobile) {
            height: 40px;
        }
    }

    &__description {
        font-family: $font-secondary;
        color: white;
        font-size: 16px;
        line-height: 1.8;
        margin: 0 0 30px;
        opacity: 0.9;
        text-align: center;
        height: 100px;
        overflow: hidden;

        @media (max-width: $breakpoint-mobile) {
            font-size: 14px;
            height: 80px;
        }
    }



    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        transition: opacity 0.3s ease;

        &:hover:not(:disabled) {
            opacity: 0.7;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.3;
        }

        &--prev {
            left: 50px;
        }

        &--next {
            right: 30px;
        }

        @media (max-width: $breakpoint-mobile) {
            &--prev {
                left: 30px;
                top: 65%;
            }

            &--next {
                right: 30px;
                top: 65%;
            }
        }
    }

    &__arrow-icon {
        width: 40px;
        height: 40px;
        position: relative;

        @media (max-width: $breakpoint-tablet) {
            width: 100px;
            height: 100px;

        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: white;
            width: 10px;
            height: 2px;
            right: 0;

            @media (max-width: $breakpoint-mobile) {
                width: 10px;
                top: 30%;

            }
        }

        &--prev::before {
            top: 40%;
            transform: rotate(-45deg);
            transform-origin: left center;
        }

        &--prev::after {
            bottom: 40%;
            transform: rotate(45deg);
            transform-origin: left center;
        }

        &--next::before {
            top: 40%;
            transform: rotate(45deg);
            transform-origin: right center;
        }

        &--next::after {
            bottom: 40%;
            transform: rotate(-45deg);
            transform-origin: right center;
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-top: 40px;

        @media (max-width: $breakpoint-mobile) {
            margin-top: 24px;
        }
    }


}