@import '../../../styles/variables.scss';

.hero {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: $color-primary;

    @media (max-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: column;
        min-height: auto;
    }

    &__content {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        padding: 40px 20px;
        bottom: 5rem;

        @media (max-width: $breakpoint-desktop) {
            position: static;
            padding: 30px 20px;
        }
    }

    &__image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 1;

        @media (max-width: $breakpoint-desktop) {
            position: relative;
            width: 100%;
            height: auto;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        @media (max-width: $breakpoint-desktop) {
            height: auto;
            object-fit: contain;
        }

        @media (min-width: $breakpoint-desktop) {
            object-fit: cover;
        }


    }

    &__title {
        font-family: $font-primary;
        font-weight: 5rem;
        color: $color-fake-white;
        text-align: center;
        line-height: 0.2;
        letter-spacing: 2px;
        text-transform: uppercase;
        position: relative;
        z-index: 20;

        @media (max-width: $breakpoint-mobile) {
            font-size: 1rem;
            letter-spacing: 1px;
        }
    }
}