@import './variables.scss';

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;

    @media (max-width: $breakpoint-mobile) {
        grid-template-columns: repeat(6, 1fr);
        column-gap: 10px;
        padding: 0 20px;
    }

    &__full {
        grid-column: 1 / -1;
    }
}