$color-primary: #000000;
$color-secondary: #F19B9E;
$color-fake-white: #F9F9F9;

$font-primary: 'Playfair Display', serif;
$font-secondary: 'Montserrat', sans-serif;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;