@import '../../../styles/variables.scss';

.parallax {
    grid-column: 1 / -1;
    position: relative;
    background-color: $color-primary;
    padding: 10px 0 20px;

    @media (max-width: $breakpoint-mobile) {
        padding: 10px 0 10px;
    }

    &__container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        position: relative;
        width: 100%;
        max-width: 600px;
    }

    &__image-wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
        will-change: clip-path;
        clip-path: inset(20% 0 0 0);
        display: flex;
        justify-content: center;
    }

    &__image {
        width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
        object-position: center;
    }
}