@import '../../styles/variables.scss';

.homepage {
    &__link {
        display: block;
        width: fit-content;
        margin: 5px auto;
        font-family: $font-secondary;
        font-size: 12px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;
        border: 1px solid $color-fake-white;
        padding: 10px 25px;
        transition: opacity 0.3s ease;

        &:hover {
            background-color: $color-fake-white;
            color: black;
        }

        @media (max-width: $breakpoint-mobile) {
            font-size: 10px;
            padding: 5px 10px;


        }
    }
}